/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


/* Semantic tag styles */

body {
	background-color: #484a4c;
 	font-family: 'Source Code Pro', monospace;
}

header {
	margin: auto;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 0.5rem;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}


/* Top Navbar styles */

.navbar {
	background-color: #dedede;
	list-style: none;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	max-width: 500px;
	border-right: solid 5px #222;
	border-bottom: solid 5px #222;
}

.nav-right {
	display: inline-flex;
	flex-direction: row-reverse;
	flex: 1;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

a:hover {
	font-weight: bold;
	color: #e05e00;
}

.nav-list {
	padding: 0.5rem;
}

.nav-item {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	display: inline;
	padding: 1rem;
	list-style: none;
}

/* Small nav styles */

section {
	max-width: 800px;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	flex-wrap: wrap;
	justify-content: center;
}

.crumb {
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

.crumb:hover {
	color: #e05e00;
}

.s-nav-list {
	background-color: black;
	display: inline;
	max-width: 100%;
	padding-right: 2rem;
}

.s-nav-item {
	display: inline;
	margin: 0 auto;
	font-size: 1rem;
	list-style: none;
	color: white;
}

/* Content semantic styles */

.blank {
	padding: 1.5rem;
}

article {
	width: 1000px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #dedede;
	border-right: solid 10px #222;
	border-bottom: solid 10px #222;
}


/* Content text styles */

h1 {
	color: #dedede;
	font-weight: 400;
	margin: 0;
	border-right: solid 2px #333;
	justify-content: center;
	max-width: 100%;
}

h2 {
	max-width: 500px;
	font-size: 1.25rem;
	background-color: #dedede;
	border: solid 10px #dedede;
	border-radius: 10px;
}

h3 {
	max-width: 100%;
	text-align: left;
	border-bottom: solid 1px #333;
	font-size: 1.6rem;
	font-weight: 400;
	color: #e05e00;
}

h4 {
	font-weight: bolder;
	font-size: 1.2rem;
	margin: 0;
}

p {
	text-align: justify;
	font-size: 1rem;
	font-family: Tahoma;
	display: block;
}

strong {
	color: #e05e00;
	font-weight: 500;
}

.link, .link:hover {
	font-size: 1rem;
	color: #e05e00;
	font-weight: normal;
}

.ctn-right {
	text-align: left;
	font-size: 1rem;
	font-family: Tahoma;
	max-width: 60%;
	padding-left: 4rem;
	flex: 1 1 auto;
}

.post {
	padding-left: 1.25rem;
	text-align: right;
	font-size: 0.9rem;	
	border-top: solid 1px #333;
	background-color: #dedede;
}

/* Image + text styles */

#photo {
	align-self: flex-start;
	width: 25%;
	height: auto;
	border-radius: 50%;
	border: solid 2px #e05e00;
}

.image {
	padding-top: 1rem;
	width: 40%;
	height: auto;
	margin: 0 auto;
	font-size: 0.9rem;
}

.image-text {
	padding: 1rem;
	margin: 0 auto;
	font-size: 0.9rem;
	justify-content: center;
}


/* Title typewriter animation */

#title {
	animation: 
    blinker .75s step-end infinite;
}

@keyframes blinker {
  from, to { border-color: transparent }
  50% { border-color: #dedede;; }
}


/* Media queries for responsive design */

@media screen and (max-width: 800px) {
	h1 {
		font-size: 1.25em;
	}
	article {
		border-right: 0;
		border-bottom: 0;
	}
	.image {
		width: 80%;
	}
	#photo, .ctn-right {
		max-width: 60%;
		margin: 0 auto;
		padding-left: 0;	
	}
}