
/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Semantic tag styles */

body {
	background-color: #484a4c;
 	font-family: 'Source Code Pro', monospace;
}

header {
	margin: auto;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 0.5rem;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 900px;
	flex-shrink: 1;
	margin: 0 auto;
}


.navbar {
	background-color: #dedede;
	list-style: none;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	max-width: 900px;
}

.nav-right {
	display: flex;
	flex-direction: row-reverse;
	flex: 1;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

a:hover {
	font-weight: bold;
	color: #e05e00;
}

.nav-list {
	padding: 0.5rem;
}

.nav-item {
	display: flex;
	flex-direction: row;
	font-weight: bold;
	display: inline;
	padding: 1rem;
	list-style: none;
}

section {
	max-width: 350px;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	flex-wrap: wrap;
	justify-content: center;
}

article {
	width: 900px;
	padding: 1.25rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #dedede;
	border: solid 10px #dedede;
	border-radius: 10px;
}

/* Content text styles */

h1 {
	color: white;
	margin: 0;
	border-right: solid 2px #333;
	justify-content: center;
	max-width: 100%;
}

h2 {
	max-width: 300px;
	font-size: 1.25rem;
	background-color: #dedede;
	border: solid 10px #dedede;
	border-radius: 10px;
}

h3 {
	padding-left: 1.25rem;
	max-width: 80%;
	text-align: left;
	font-size: 1.5rem;
	border-bottom: solid 1px #333;
	color: #e05e00;
}

p {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	text-align: justify;
	font-size: 1.1rem;
	font-family: Tahoma;
	display: block;
}

.post {
	padding-left: 1.25rem;
	text-align: right;
	font-size: 0.9rem;	
	border-top: solid 1px #333;
	background-color: #dedede;
}

/* Title animation */

#title {
	animation: 
    blinker .75s step-end infinite;
}

@keyframes blinker {
  from, to { border-color: transparent }
  50% { border-color: white;; }
}
