@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
	background-color: #484a4c;
 	font-family: 'Source Code Pro', monospace;
}

header {
	background-color: #dedede;
	text-align: center;
	position: initial;
}

.navbar {
	background-color: #dedede;
	list-style: none;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 900px;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

a:hover {
	font-weight: bold;
	color: #e05e00;
}

.nav-item {
	margin: auto;
	max-width: 800px;
	display: inline;
	padding-left: 2rem;
	padding-right: 2rem;
	list-style: none;
}

section {
	max-width: 900px;
	padding: 1.25rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #dedede;
}

article {
	max-width: 900px;
	padding: 1.25rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #dedede;
}


h1 {
	padding: 1rem;
}

h2 {
	padding: 1.1rem;
	border-bottom: solid 2px #333;
	border-left: solid 2px #333;
	color: #e05e00;
}

p {
	padding: 1.25rem;
	text-align: left;
	font-size: 1.25rem;
}
